
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="../../assets/image/img-01.png" alt="IMG">
                </div>
                <form class="login100-form validate-form" #passwordUpdate="ngForm" (ngSubmit)="passwordUpdate.valid && changePassword(passwordUpdate)">
                    <span class="login100-form-title heading">
                        Password
                    </span>
                    
                    <div required class="wrap-input100 validate-input">
                        <input type="password" #password="ngModel" [(ngModel)]="userService.selectedUser.password" name="password" placeholder="Password" class="input100 inputs" required>
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input " data-validate = "Password is required">
                        <input type="password" #confirmPassword="ngModel" [(ngModel)]="userService.confirmPassword.confirmPass" name="confirmPassword" placeholder="Confirm Password" class="input100 inputs" required>
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>
                    
                    <div class="container-login100-form-btn">
                        <input type="submit" value="SIGNUP" class="login100-form-btn">
                    </div>
    
                </form>
            </div>

        </div>
    </div>

    <router-outlet></router-outlet>
