
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="../../assets/image/img-01.png" alt="IMG">
                </div>
                <form class="login100-form validate-form" #userForm="ngForm" (ngSubmit)="userForm.valid && onFormSubmit(userForm)">
                    <span class="login100-form-title heading">
                        Address
                    </span>
                    <div required class="wrap-input100 validate-input" >
                        <div class="input100 inputs"
                            style="position:absolute; z-index:-1;"></div>
                        <select #country="ngModel" [(ngModel)]="selectedCountry" name="country" style="outline:none;" (change)="setStates()" required>
                            <option #list [selected]="true"  hidden class="drop_placeholder" value="Select Your country">Select Your Country</option>
                            <option *ngFor="let country_var of countries" [value]="country_var.id" style="outline:none;">
                                {{country_var.viewValue}}
                            </option>
                            <!--           [ngModelOptions]="{standalone: true}" name="hello" ngDefaultControl -->
                        </select>
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-flag" aria-hidden="true"></i>
                        </span>
                    </div>
                   
                    <div required class="wrap-input100 validate-input ">
                        <div class="input100 inputs"
                            style="position:absolute; z-index:-1;"></div>
                        <input #state="ngModel" [(ngModel)]="userService.selectedUser.state" name="state" class="input100 inputs" id="states_input" type="text" placeholder="State" list="states" 
                        style="font-family: 'Montserrat';
                        font-size: 15px;
                        line-height: 1.5;
                        color: #999999;
                        margin-left:10%;
                        display: block;
                        border:transparent;
                        width: 80%;
                        background: #e6e6e6;
                        height: 50px;
                        border-radius: 25px;
                        padding: 0 30px 0 38px;">
                            <datalist id="states">
                                <option *ngFor="let item of states_list" [value]="item">{{item}}</option>
                            </datalist>
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-flag-o" aria-hidden="true"></i>
                        </span>
                    </div>

                    <!-- <div required class="wrap-input100">
                        <input #state="ngModel" [(ngModel)]="userService.selectedUser.state" name="state" required class="input100 inputs" type="text" placeholder="State">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-building" aria-hidden="true"></i>
                        </span>
                    </div> -->

                    <div required class="wrap-input100" >
                        <input #city="ngModel" [(ngModel)]="userService.selectedUser.city" name="city" type="text" placeholder="City" required class="input100 inputs">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-building" aria-hidden="true"></i>
                        </span>
                    </div>
                    
                    <div required class="wrap-input100 validate-input">
                        <input #street="ngModel" [(ngModel)]="userService.selectedUser.street" name="street" type="text" placeholder="Street" required class="input100 inputs">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-road" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input " data-validate = "Password is required">
                        <input #h_no="ngModel" [(ngModel)]="userService.selectedUser.h_no" name="h_no" type="text" placeholder="House Number" required class="input100 inputs">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-home" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input " data-validate = "Password is required">
                        <input #zip="ngModel" [(ngModel)]="userService.selectedUser.zip" name="zip" type="text" placeholder="Zip Code" required class="input100 inputs">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-map-pin" aria-hidden="true"></i>
                        </span>
                    </div>
                    
                    <div class="container-login100-form-btn">
                        <input type="submit" value="NEXT" class="login100-form-btn">
                    </div>
    
                    <div class="text-center p-t-58">
                        <label class="alread">Already have a account?</label><br>
                        <a class="txt2" routerLink="/login">
                            Log In
                            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                        </a>
                    </div>
                </form>
                
            </div>

        </div>
    </div>

    <router-outlet></router-outlet>
